@charset "utf-8";

/* @keyframes pc_ani {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes mobile_ani {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(-1000%);
  }
}
@keyframes tablet_ani {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-400%);
  }
} */
