@charset "utf-8";

@keyframes pc_ani {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
  125% {
    transform: translateX(-75%);
  }
  150% {
    transform: translateX(-50%);
  }
  175% {
    transform: translateX(-25%);
  }
  200% {
    transform: translateX(-0%);
  }
}

@keyframes mobile_ani {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(-1000%);
  }
}
@keyframes tablet_ani {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-400%);
  }
}
