@charset "utf-8";
h1 {
  font-size: 80px;
  padding: 0;
}

/***** header *****/
header {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
header img {
  width: 160px;
}
header .kor {
  align-items: center;
  font-size: 18px;
}
header ul li a {
  padding: 15px 30px;
  border-radius: 20px;
}

/***** contents *****/

/* main-page */
main .main-page {
  height: 90vh;
}
main .main-page .main-page-txt {
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  line-height: 1;
}
main .main-page .page-contents {
  margin-top: 20px;
}
main .main-page .page-contents .circle {
  width: 450px;
  transform: translate(-50%, 10%);
}
main .main-page .page-contents .circle2 {
  transform: translate(0%, -50%);
}
main .main-page .page-contents video {
  width: 1100px;
}

/* highlights */
main .highlights {
  padding: 0 60px 120px 60px;
  height: 1400px;
  width: 100%;
  margin: 0 auto;
}
main .highlights h1 {
  padding: 0;
  width: 80%;
  margin: 0 auto;
  transform: translateY(15px);
  max-width: 1440px;
}
main .highlights .back-circle {
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  background-color: #f9f9f9;
  width: 1400px;
}
main .highlights .items {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
main .highlights .items .item {
  width: 400px;
  height: 450px;
  align-items: flex-end;
  cursor: pointer;
}
main .highlights .items .item .item-img img:hover {
  width: 400px;
  height: 340px;
  transition: 1s;
}
main .highlights .move-line {
  width: 80%;
}
main .highlights .move-line span {
  right: px;
}
main .highlights .move-line .move-line2 {
  right: -30%;
  width: 30%;
}

/* centers */
main .centers {
  width: 100%;
}
main .centers h1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
main .centers .center-img {
  width: 600px;
}
main .centers .txt-box {
  width: 550px;
  left: 50%;
  transform: translate(0, -45%);
  margin-right: 40px;
}

/* sponser */
main .sponser ul {
  margin: 100px 0 120px 100px;
  width: 250%;
  display: flex;
  animation: pc_ani linear infinite 30s;
}
main .sponser ul li a {
  margin-right: 100px;
}
main .sponser ul li a img {
  width: 200px;
  margin: 0 30px;
}
/* careers */

main .careers {
  position: relative;
  height: 900px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .careers h1 {
  margin-bottom: 0px;
}
main .careers .career-img {
  z-index: 1;
  position: relative;
  width: 50%;
  left: 500px;
  transform: none;
  object-fit: cover;
}
main .careers .career-box {
  transform: translateY(-450px);
}
main .careers .view-box {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

/***** footer *****/

/* footer-bar */
footer .footer-bar {
  font-size: 24px;
  justify-content: center;
}
footer .footer-bar .online1 {
  width: 570px;
  transform: translateY(-50%);
}
footer .footer-bar .recruit1 {
  width: 570px;
  transform: translateY(-50%);
}
footer .footer-bar .online {
  width: 600px;
  padding: 25px 40px;
}
footer .footer-bar .recruit {
  width: 600px;
  padding: 25px 50px;
}
footer .footer-bar span {
  margin-right: 10px;
}
footer .footer-bar .foot-txt {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

/* footer-box */
footer .footer-box {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
}
footer .footer-box .footer-contents h4 {
  font-size: 20px;
}
footer .footer-box .footer-contents:first-child ul li {
  width: 30%;
}
footer .footer-box .footer-contents:nth-child(3) ul li {
  width: 40%;
}

/* footer-info */
footer .footer-info {
  width: 90%;
  margin: 0 auto;
}
