@charset "utf-8";

/* base */
h1 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.end {
  color: #ee2f22;
}
.arrow-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.arrow-box span {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}
.arrow-box p {
  margin: 0 20px;
}
.pc-right {
  display: flex;
}
.view-box {
  width: 200px;
  height: 20px;
  display: flex;
  margin: 20px 0;
  margin-top: 50px;
  position: relative;
  text-transform: uppercase;
  align-items: center;
}
.view-box .view-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff7a71;
  position: relative;
}
.view-box .view-txt {
  display: flex;
  align-items: center;
  transform: translateX(-20px);
  cursor: pointer;
}
.view-box .view-txt span {
  margin-left: 10px;
  position: relative;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.pc-menu {
  display: none;
}
.tablet-menu {
  display: none;
}

/***** header *****/
header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  z-index: 9999;
}
header img {
  width: 120px;
  aspect-ratio: 5/1;
}
header ul {
  display: none;
}
header .menu-contents {
  display: flex;
  align-items: center;
}
header .menu-contents a {
  height: 24px;
}
header .menu-contents span {
  margin: 0 10px;
}

/***** contents *****/

/* main-page */

main .main-page {
  width: 100%;
  padding: 30px 20px;
  position: relative;
}

main .main-page .page-contents .circle {
  position: relative;
  display: block;
  width: 250px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  border-radius: 50%;
  border: 1px solid black;
}
main .main-page .page-contents .circle2 {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -10%);
  overflow: hidden;
}
main .main-page .page-contents video {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .main-page .main-page-txt {
  position: absolute;
  top: 18%;
  left: -5%;
  padding: 0 20px;
}
main .main-page .main-page-txt p {
  padding: 0 30px;
  font-weight: bold;
  font-size: 48px;
}
main .main-page .main-page-txt .txt2 {
  margin-left: 40px;
}

/* highlights */
main .highlights {
  position: relative;
  padding: 0 20px;
  overflow: hidden;
}
main .highlights .back-circle {
  position: absolute;
  background-color: #f9f9f9;
  width: 600px;
  aspect-ratio: 1;
  border-radius: 50%;
  left: -40%;
  top: 0;
  z-index: -1;
}
main .highlights .items {
  padding: 0 20px;
  width: 300px;
}
main .highlights .items .item {
  margin-bottom: 70px;
  position: relative;
}
main .highlights .items .item h3 {
  font-family: "Noto Sans KR", sans-serif;
  color: #999999;
  margin: 10px 0;
}
main .highlights .items .item p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
main .highlights .items .item .item-img {
  width: 320px;
  aspect-ratio: 6/5;
  position: relative;
}

main .highlights .items .item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
main .highlights .items .item .item-img img:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .highlights .items .item .item-img h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  position: absolute;
  transform: rotate(-90deg);
  left: -27%;
  top: 24%;
  width: 149px;
  line-height: 1.55;
  text-align: right;
}

/* centers */
main .centers {
  padding: 0 20px;
  position: relative;
}
main .centers h1 {
  margin-bottom: 0;
}
main .centers .center-img {
  display: block;
  width: 280px;
  aspect-ratio: 1;
  background: url(./images/center.png) no-repeat 50% / cover;
  border-radius: 50%;
  margin: 0 auto;
  transform: translateY(30px);
  z-index: -1;
  position: relative;
}
main .centers .txt-box {
  background-color: white;
  border: 1px solid black;
  padding: 30px 50px;
}
main .centers .txt-box h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}
main .centers .txt-box .txt {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* sponser */
main .sponser {
  width: 100%;
  overflow: hidden;
}
main .sponser ul {
  margin: 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  animation: mobile_ani linear infinite 30s;
  transition: 1s;
}
main .sponser ul li a img {
  width: 100px;
  margin: 0 30px;
}

/* careers */
main .careers {
  padding: 0 20px;
  position: relative;
}
main .careers h1 {
  margin-bottom: 0px;
}
main .careers .career-img {
  padding: 0 20px;
  display: block;
  width: 90%;
  aspect-ratio: 7/5;
  margin: auto;
  background: url(./images/career.png) no-repeat 50% / cover;
  transform: translateY(40px);
}
main .careers .career-box {
  background-image: linear-gradient(#8d8d8d, #fff);
  padding: 80px 30px 120px 30px;
}
main .careers .career-box h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 20px 0;
}
main .careers .career-box p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/***** footer *****/

footer {
  background-color: #313131;
}
/* footer-bar */
footer .footer-bar {
  display: flex;
  font-family: "Noto Sans Kr", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  justify-content: space-between;
}
footer .footer-bar .online1 {
  display: flex;
  width: 50%;
  background-color: #d70f00;
}
footer .footer-bar .online {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
}
footer .footer-bar .recruit1 {
  display: flex;
  width: 50%;
  background-color: #ed3022;
}
footer .footer-bar .recruit {
  margin: auto;
  padding: 15px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bar span {
  margin-right: 10px;
}

/* footer-box */
footer .footer-box {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  color: #c3c3c3;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  justify-content: space-between;
}
footer .footer-box .footer-contents {
  margin: 30px 0 30px 0;
}
footer .footer-box .footer-left {
  width: 55%;
}
footer .footer-box .footer-right {
  width: 35%;
}
footer .footer-box .footer-right ul {
  display: flex;
  flex-direction: column;
}
footer .footer-box .footer-contents h4 {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
footer .footer-box .footer-contents h4::after {
  content: "";
  display: block;
  border: 1px solid #adadad;
  width: 100%;
  margin: 10px 0;
}
footer .footer-box .footer-contents ul {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-box .footer-contents ul li {
  width: 48%;
  margin: 5px 1px;
}

/* footer-info */
footer .footer-info {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #c3c3c3;
  padding: 0 15px 30px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer .footer-info .portfolio {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 8px;
  font-weight: 400;
  width: 135px;
  height: 30px;
  text-indent: 5px;
  line-height: 30px;
  background-color: #ddd;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
footer .footer-info .portfolio:hover {
  background-color: black;
  color: white;
}
footer .block-mobile {
  display: block;
}
