@charset "utf-8";

.pc-menu {
  display: block;
}
.tablet-menu {
  display: none;
}
.view-box .tablet-menu {
  display: none;
}
h1 {
  font-size: 70px;
}

/***** header *****/
header {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
header img {
  width: 150px;
}
header .kor {
  align-items: center;
  font-size: 14px;
}
header .pc-menu {
  display: flex;
}
header .kor span {
  margin-left: 5px;
}
header ul li a {
  padding: 10px;
}

/***** main *****/

/* main-page */
main .main-page {
  padding: 80px 40px 0px 40px;
}
main .main-page .main-page-txt {
  top: 15%;
  left: 0;
}
main .main-page .main-page-txt p {
  font-size: 80px;
}
main .main-page .page-contents .circle {
  transform: translate(-50%, 10%);
  width: 450px;
}
main .main-page .page-contents .circle2 {
  transform: translate(-50%, -20%);
}
main .main-page .page-contents video {
  width: 1200px;
}

/* highlights */
main .highlights {
  padding: 0 40px 120px 40px;
  height: 1400px;
}
main .highlights h1 {
  padding-left: 20px;
}
main .highlights .back-circle {
  left: auto;
  right: -60%;
  background-color: #f9f9f9;
  width: 1400px;
}
main .highlights .items {
  width: 150%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
}
main .highlights .items .item {
  width: 45%;
  height: 450px;
  align-items: flex-end;
}
main .highlights .items .item1 {
  margin-top: 100px;
}
main .highlights .items .item4 {
  top: -100px;
}
main .highlights .items .item .item-img img {
  width: 450px;
  height: 360px;
}
main .highlights .items .item .item-img h2 {
  font-size: 32px;
  left: -53%;
  top: 35%;
  width: 300px;
}
main .highlights .items .item h3 {
  font-size: 14px;
}
main .highlights .items .item p {
  font-size: 18px;
}
main .highlights .move-line {
  display: flex;
  width: 60%;
  height: 2px;
  background-color: black;
  align-items: center;
  position: relative;
}
main .highlights .move-line span {
  color: white;
  padding: 3px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: 0;
  z-index: 9;
}
main .highlights .move-line .move-line2 {
  display: flex;
  width: 60%;
  height: 2px;
  background-color: #c1c1c1;
  right: -60%;
  position: absolute;
}

/* centers */

main .centers {
  width: 90%;
  margin: 0 auto;
}
main .centers .center-img {
  position: relative;
  width: 100%;
}
main .centers .txt-box {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(0, -50%);
  margin-right: 40px;
}
main .centers .length-box {
  display: flex;
  justify-content: space-between;
}
main .centers .txt-box h4 {
  font-size: 32px;
}
main .centers .txt-box .txt {
  font-size: 16px;
}
main .centers .txt-box .view-box .view-txt {
  width: 150px;
  left: 0%;
}

/* sponser */

main .sponser ul {
  margin: 100px 0 120px 100px;
  width: 250%;
  display: flex;
  animation: tablet_ani linear infinite 30s;
}
main .sponser ul li a img {
  width: 150px;
  margin: 0 30px;
}
/* careers */
main .careers {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
main .careers h1 {
  margin-bottom: 0;
}
main .careers .career-img {
  transform: translateY(80px);
}
main .careers .career-box h3 {
  margin: 60px 0 40px 0;
  font-size: 40px;
}
main .careers .career-box .txt {
  width: 500px;
  font-size: 24px;
}
main .careers .career-box {
  padding: 80px 50px 120px 50px;
}
main .careers .arrow-box span {
  font-size: 30px;
}
main .careers .career-box p {
  font-size: 18px;
}

/* footer */
footer .footer-bar {
  font-weight: bold;
}
footer .footer-bar .online {
  padding: 25px 20px;
}
footer .footer-bar .recruit {
  padding: 25px 20px;
}
footer .footer-bar .foot-txt {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 400;
}

footer .footer-box {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  color: #c3c3c3;
  padding: 20px 15px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
footer .footer-box .footer-contents h4 {
  font-size: 16px;
}
footer .footer-box .footer-contents {
  width: 100%;
  margin: 30px 10px;
}
footer .footer-box .footer-contents:first-child {
  margin-left: 0px;
}
footer .footer-box .footer-contents:last-child {
  margin-right: 0px;
}
footer .footer-box::after {
  content: "";
  display: block;
  border: 1px solid #adadad;
  width: 100%;
  margin: auto;
}

footer .footer-box .footer-contents ul {
  justify-content: space-between;
}
footer .footer-box .footer-contents ul li {
  width: 100%;
}
footer .footer-box .footer-contents:first-child {
  flex: 8;
}
footer .footer-box .footer-contents:first-child ul li {
  width: 98px;
}
footer .footer-box .footer-contents:nth-child(2) {
  flex: 2;
}
footer .footer-box .footer-contents:nth-child(3) {
  flex: 5;
}
footer .footer-box .footer-contents:nth-child(3) ul li {
  width: 92px;
}
footer .footer-box .footer-contents:last-child {
  flex: 2;
}
footer .footer-info {
  padding: 0 20px 30px 20px;
  font-size: 14px;
}
footer .block-mobile {
  display: inline;
}
footer .block-pc {
  display: block;
}

footer .footer-info .portfolio {
  width: 200px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
}
