@charset "utf-8";

@keyframes circle_ani {
  0% {
    background: url(images/a1.png) no-repeat 100% 50% / cover;
  }
  20% {
    background: url(images/a1.png) no-repeat 100% 50% / cover;
  }
  40% {
    background: url(images/a2.png) no-repeat 100% 50% / cover;
  }
  60% {
    background: url(images/a2.png) no-repeat 100% 50% / cover;
  }
  80% {
    background: url(images/a3.png) no-repeat 100% 50% / cover;
  }
  100% {
    background: url(images/a3.png) no-repeat 100% 50% / cover;
  }
}
