@charset "utf-8";
/* basic */
body {
  font-family: "Sora", sans-serif;
  background: #000;
  transition: 2s;
  /* background-color: black; */
}
body.active {
  color: black;
  background: #ffffff;
  /* background-color: white; */
}
body.active .profile {
  color: black;
}
body.active .profile h2 {
  color: black;
}
body.active footer {
  color: black;
}
body.active header {
  background-color: white;
  color: black;
}
body.active header .header_menu ul li a:hover::after {
  background-color: black;
}
body.active .profile .git_main {
  border: 1px solid black;
}
body.active .profile .git_pf {
  border: 1px solid black;
}
.block {
  display: block;
}
.find-me {
  display: flex;
}
.find-me li {
  list-style: none;
  padding-right: 2em;
}

.scroll {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #c0392b;
}

h2 {
  text-transform: uppercase;
  color: white;
  font-size: 3.125rem;
  margin: 0 0 2.604vw 30px;
}
#img1 {
  width: 200px;
}
/***** header *****/
header {
  z-index: 9999;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 1.5rem 2.78vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  align-items: center;
  transition: 1s;
}
header .name {
  text-transform: uppercase;
  font-size: 1.125rem;
  cursor: pointer;
}
header .header_menu {
  font-size: 1rem;
}
header .header_menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header_menu ul li {
  display: flex;
}
header .header_menu ul li a {
  position: relative;
  margin: 0 1.25rem;
}
header .header_menu ul li a:after {
  content: "";
  display: block;
  width: 0%;
}
header .header_menu ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -18%;
  left: 0;
  transition: 0.2s;
}
/***** main *****/

/* first-page */  
canvas {
	cursor: crosshair;
	display: block;
}

main .first-page {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
}
main .first-page .header-txt-box {
  z-index: 999;
  color: #a3a3a3;
  font-weight: 500;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
main .first-page .header-txt-box h1 {

  z-index: 999;
  text-transform: uppercase;
  font-size: 9.42vw;
  line-height: 9.13vw;
}
main .first-page .header-txt-box h1:last-child {
  margin-left: 11vw;
}
main .first-page .bottom-bar {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
main .first-page .bottom-bar .github {
  font-size: 0.833vw;
  display: flex;
  justify-items: center;
  align-items: center;
  bottom: 4%;
  left: 2%;
  transform: translate(40px, -20px);
}
main .first-page .bottom-bar .github .github_txt::after {
  content: "";
  display: block;
  width: 0%;
}
main .first-page .bottom-bar .github .github_txt:hover::after {
  content: "";
  display: block;
  border: 1px solid white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
main .first-page .bottom-bar .github span {
  margin-left: 0.26vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.833vw;
}
main .first-page .bottom-bar .down {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 4%;
  right: 2%;
  transform: translate(-40px, -20px);
}
main .first-page .bottom-bar .down span {
  font-size: 1.042vw;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ddd;
  transition: 1s;
}
main .first-page .bottom-bar .down span:hover {
  padding: 5px;
  color: white;
  background-color: #7700ff;
}

/* project */

.menu {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
  counter-reset: menucounter;
  overflow: hidden;
  justify-content: flex-end;
  padding-bottom: 5vh;
}
.menu .inside {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(0,-50%);
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: #FFF;
}
.menu__item {
  flex: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu__item-text {
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  display: block;
  overflow: hidden;
  font-size: 6vw;
}
.menu_right {
  padding-right: 20px;
}
.menu__item-textinner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  color: #a3a3a3;
}

.menu__item-textinner {
  transform: translateY(100%);
}

.menu__item:hover .menu__item-textinner {
  transition: 0.4s;
  margin-left: 20px;
  color: #a3a3a3;
  opacity: 0.5;
}
.menu__item:hover .menu__item-textinner .menu_right {
  margin-right: 20px;
}
.menu__item-sub {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  align-items: center;
  position: relative;
  margin-left: 2rem;
  padding-left: 3rem;
  opacity: 0;
  transform: translateX(-1rem);
  transition: transform 0.3s, opacity 0.3s;
}

.menu__item:hover .menu__item-sub {
  opacity: 1;
  transform: translateX(0);
}

.menu__item-sub::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 1px;
  height: 70%;
  background: currentColor;
  transform-origin: 0 100%;
  transform: rotate(22.5deg) scale3d(1, 0, 1);
  transition: transform 0.3s;
}

.menu__item:hover .menu__item-sub::before {
  transform: rotate(22.5deg) scale3d(1, 1, 1);
}

.hover-reveal {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  filter: brightness(1) !important;
}

.hover-reveal__inner {
  overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
}

.cursor {
  display: none;
}

@media screen and (min-width: 53em) {
}
.menu__item {
  margin: 0px auto;
  width: 80%;
  justify-content: initial;
  padding: 20px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.menu__item:nth-child(3) {
  border-top: none;
}
.menu__item:nth-child(4) {
  border-top: none;
}
.menu__item:nth-child(5) {
  border-top: none;
}
.menu__item:last-child {
  border-bottom: 1px solid white;
}
.menu__item-text {
  font-size: 5.208vw;
}
.menu__item-sub {
  display: flex;
}

.menu__item:nth-child(2):hover .hover-reveal {
  background: url("images/p3.png") no-repeat fixed 100% 50% / cover;
  transition: opacity 0.5s;
}
.menu__item:nth-child(3):hover .hover-reveal {
  background: url("images/p4.png") no-repeat fixed 100% 50% / cover;
  transition: opacity 0.5s;
}
.menu__item:nth-child(4):hover .hover-reveal {
  background: url("images/12345.png") no-repeat fixed 100% 50% / cover;
  transition: opacity 0.5s;
}
.menu__item:nth-child(5):hover .hover-reveal {
  background: url("images/iphone.png") no-repeat fixed 100% 50% / cover;
  transition: opacity 0.5s;
}

/* skills */
main .skills {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: white;
  position: relative;
}
main .skills h2 {
  margin: 0px;
}
main .skills .skills_box {
  overflow: hidden;
  margin-top: 70px;
  margin: 70px auto 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* flex-direction: row-reverse; */
}
main .skills .skills_box .skills_left {
  margin-left: 10%;
}
main .skills .skills_box .skills_left h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  margin: 25px 0 35px 0;
  background-color: white;
}

main .skills .skills_box .skills_left .skills_img {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
}
main .skills .skills_box .skills_left .skills_img img {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 150px;
  height: 150px;
  opacity: 0;
  transition: 1s;
}
main .skills .skills_box .skills_left .skills_img img.active {
  opacity: 1;
}
main .skills .skills_box .skills_right {
  display: grid;
  width: 70%;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 4vw;
}
main .skills .skills_box .skills_right h3 {
  font-size: 1.25vw;
  font-weight: 700;
  margin-bottom: 10px;
}
main .skills .skills_box .skills_right p {
  font-size: 0.938vw;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.5;
}

/* profile */
main .profile {
  width: 100%;
  height: 84vh;
  margin: 0 auto;
  color: white;
  position: relative;
}
main .profile .profile_box {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  justify-content: flex-end;
  width: 80%;
  display: flex;
}
main .profile .profile_box .profile_left {
  margin-right: 10%;
}
main .profile .profile_box .profile_left .profile_circle {
  display: block;
  width: 250px;
  height: 250px;
  background: linear-gradient(-45deg, #5e5e5e, #c2c2c2, #000000, #262b2a);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 50%;
}
main .profile .profile_box .profile_left .profile_circle:hover {
  background-size: 300% 300%;
  animation-duration: 5s;
}
main .profile .profile_box .profile_right h3 {
  font-size: 0.833vw;
  font-weight: 400;
  margin-bottom: 10px;
}
main .profile .profile_box .profile_right p {
  font-size: 1.042vw;
  margin-bottom: 30px;
  font-weight: 700;
}
.git_main{ 
  font-size: 20px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  margin-bottom: 30px;
  font-weight: 700;
}
.git_pf{
  font-size: 20px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-weight: 700;

}
.git_main:hover {
color: white;
background-color: black;
  cursor: url(./images/git1.svg) 20 20, auto;
}
.git_pf:hover {
  color: white;
  background-color: black;
  cursor: url(./images/git1.svg) 20 20, auto;
}
.git_box img {
  width: 40px;
  margin-right: 5px;
}
.git_box {
  z-index: 999;
  top:35%;
  left: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* align-items: flex-start; */
  /* border: 1px solid black; */
}
.git_box h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
/***** footer *****/
footer {
  color: #fff;
  font-size: 0.938vw;
}
footer .footer_box {
  position: relative;
  padding: 1.563vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer_box .footer_left {
  font-weight: 400;
}
footer .footer_box .footer_right {
  font-weight: 500;
}
footer .footer_box .footer_left span {
  margin-right: 1.042vw;
}
footer .footer_box .footer_right span {
  margin-left: 1.042vw;
}
footer .footer_box .footer_right .footer_email:hover {
  color: #295c00;
  cursor: url(./images/mail.svg) 20 20, auto;
}
footer .footer_box .footer_right .footer_kakao {
  position: relative;
}
footer .footer_box .footer_right .footer_kakao:hover {
  color: #f7e600;
  cursor: url(./images/kakao.svg) 20 20, auto;
}

footer .footer_box .footer_right .kakao_page {
  display: block;
  background-color: white;
  position: absolute;
  bottom: 100%;
  right: 1%;
  width: 350px;
  height: 450px;
  border: 1px solid black;
  transition: 1s;
  opacity: 0;
  pointer-events: none;
}
footer .footer_box .footer_right .kakao_page.active {
  opacity: 1;
  pointer-events: visible;

}
footer .footer_box .footer_right .kakao_page:hover {
  color: black;
}
footer .footer_box .footer_right .kakao_page img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -45%);
  width: 300px;
}
footer .footer_box .footer_right .kakao_page .kakao_close {
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  right: 5%;
  top: 3%;
}
footer .footer_box .footer_right .kakao_page .kakao_close:hover {
  color:#f7e600;
}

.happyrun {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: black;
  width: 60%;
  height: 80vh;
  transform: translate(-50%,-40%);
  border-radius: 20px;
  z-index: 99;
  transition: 1s;
  opacity: 0;
  pointer-events: none;
  border: 1px solid white;
}
.happyrun.active {
  display: none;
  opacity: 1;
  display: block;
  pointer-events: visible;
}
.happyrun .happyrun_close {
  position: absolute;
  right: 0;
  font-size: 60px;
  margin: 20px;
  cursor: pointer;
  color: white;
}
.happyrun .run1 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 250px;
}
.happyrun .run2 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  width: 250px;
}
.happyrun .before {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 14%;
  transform: translateY(-0%);
  width: 250px;
}
.happyrun .after {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 45%;
  transform: translateY(-0%);
  width: 250px;
}

.happyrun .more_btn {
  font-size: 30px;
  width: 200px;
  height: 100px;
  background-color: white;
  color: black;
  position: absolute;
  right: 10%;
  bottom: 20%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.happyrun .more_btn:hover{
  color: black;
  background-color: rgb(54, 54, 54);
}


/* animation */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } 
}

@keyframes gradient2 {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 150%;
  }
  100% {
    background-position: 50% 100%;
  }
}
