@charset "utf-8";


body {
  font-family: 'Poppins', sans-serif;
  background-color: #FCF3EB;
}
.block {
  display: block;
}
h1 {
  display: flex;
  justify-content:center;
  font-size: 90px;
  font-weight: 900;
  color: #214B2A;
  padding-top: 100px;
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #FCF3EB;
  margin: 50px !important;
}
::-webkit-scrollbar-thumb {
  height: 900px;
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}
.button:hover {
  cursor: pointer;
  background-color: #FF9A4A !important;
  transform: scale(105%);
}
.line {
  position: relative;
}
.line::before {
  content: "";
  display: block;
  background-color: #9ac918;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 11px;
  transform: rotate(-1deg);
  }

header {
  z-index: 9999;
  display: flex;
  width: 0;
  height: 50px;
  background-color: var(--header-bg);
  position: fixed;
  padding: 1rem 2rem;
  top:2%;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
  color: var(--header-color);
  transition: 1s;
}
header.open {
  width: 95%
}
header.active {
  width: 98%;
  height: 55px;
  box-shadow:
  0.6px 4.8px 6.9px rgba(0, 0, 0, 0.074),
  2px 16.1px 23.2px rgba(0, 0, 0, 0.099),
  9px 72px 104px rgba(0, 0, 0, 0.18)
;
}
header.active .header-center {
  width: 160px;
  
}
header .header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-left .menu {
  /* background-color: red; */
  margin-right: 1.6875rem;
  position: relative;
  width: 2.0625rem;
  height: 50px;
}
header .header-left .menu span {
  z-index: 99;
  position: absolute;
  background-color: var(--header-color);
  width: 2.0625rem;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
header .header-left .menu span:nth-child(2){
  top: 30%;
}
header .header-left .menu span:last-child{
  top: 70%;
}
header .header-center{
  transition: 1s;
  width: 150px;
  position:absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

main {
  padding-top: 110px;
}

main .page1 .line::before {
  width: 0;
  transition: 1s ease;
}
main .page1 .line.active::before {
width: 100%;
}
main .page1 .first,
main .page1 .first-1,
main .page1 .first-2 {
  display: inline-block;
  opacity: 0;
  transform: translateY(280%);
  transition: 0.4s;
}
main .page1 .first-1 {
  transition: 0.5s;
}
main .page1 .first-2 {
  transition: 0.6s;
}
main .page1 .second {
  display: inline-block;
  opacity: 0;
  transform: translateY(280%);
  transition: 0.4s;
}
main .page1 .first.active,
main .page1 .first-1.active,
main .page1 .first-2.active,
main .page1 .second.active {
  opacity: 1;
  transform: translateY(0);
}
main .page1 .second {
  transition: 1s;
}


main .page1 {
  width: 100%;
  height: 120vh;
  background-color: #FCF3EB;
  position: relative;
  overflow: hidden;
  margin-bottom: 180px;
}
main .page1 .img-wrapper img {
  position: absolute;
  width: 70px;
  transform: scale(0%);
  transition: 0.7s;
}

main .page1 .img-wrapper img:first-child {
  width: 80px;
  top: 5%;
  left: 15%;
}
main .page1 .img-wrapper img:nth-child(2) {
  top: 14%;
  left: 10%;
}
main .page1 .img-wrapper img:nth-child(3) {
  width: 140px;
  top: 5%;
  right: 27%;
}
main .page1 .img-wrapper img:nth-child(4) {
  width: 120px;
  top: 3%;
  right: 5%;
}
main .page1 .img-wrapper img:nth-child(5){
  width: 80px;
  top: 35%;
  right: 0;
}
main .page1 .img-wrapper img:nth-child(6){
  width: 130px;
  top: 45%;
  left: 6%;
}
main .page1 .img-wrapper img:nth-child(7){
  width: 100px;
  top: 58%;
  right: 17%;
}
main .page1 .img-wrapper img:nth-child(8){
  width: 100px;
  top: 63%;
  left: 12%;
}
main .page1 .img-wrapper img:nth-child(9){
  width: 130px;
  bottom: 0%;
  right: 8%;
}
main .page1 .img-wrapper img:nth-child(10) {
  width: 50px;
  top: 34%;
  left: 14%;
}
main .page1 .img-wrapper .star {
  position: absolute;
  left: 5%;
  top: 5%;
  animation: star-ani 2s 2s linear infinite alternate;
}
main .page1 .img-wrapper .star2 {
  position: absolute;
  right: 17%;
  top: 4%;
  animation: star-ani 2s linear infinite alternate;
}
@keyframes star-ani {
  from { transform: scale(0);}
  to { transform: scale(100%);} 
}

main .page1 .img-wrapper .star3 {
position: absolute;
right: 9%;
top: 32%;
}
main .page1 .img-wrapper .circle {
  position: absolute;
  right: 1.5%;
  top: 11%;
  width: 40px;
}
main .page1 .text-wrapper {
  line-height: 1.1;
  position: absolute;
  font-size: 80px;
  font-weight: 900;
  color: #214B2A;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-210%);
}

main .page1 .text-wrapper2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-110%);
  color: #214B2A;
}
main .page1 .img-box {
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 310px;
  border-radius: 33px;
  background-color: #e0aff9;
  left: 50%;
  transform: translate(-50%,0); 
  transition: 1s;
}
main .page1 .img-box.active {
  width: 1250px;
  height: 310px;
  transform: translate(-50%,0) scale(100%);
}
main .page1 .img-box img.active {
  bottom: -75%;
}
main .page1 .img-box img{
  transition: 1s;
  position: absolute;
  width: 600px;
  bottom: -300%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: box-ani 4s linear alternate infinite;
}
@keyframes box-ani {
  from {transform: translate(-50%,3%);}
  to{ transform: translate(-50%, 0);}
}

main .page2 {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .page2 .bg {
  position: absolute;
  top: 450px;
  left: 0;
  z-index: -1;
  transform: translate(0,0);
}
main .page2 .text-wrapper {
  line-height: 61px;
  font-weight: 500;
  color: rgb(254, 245, 236);
  font-size: 30px;
  text-align: center;
  padding: 73px 81px;
  width: 650px;
  position: absolute;
  right: 10%;
  top: 50%;
  background-color: #214B2A;
  z-index: 99;
  transform: translateY(-50%);
  border-radius: 33px;
}
main .page2 .text-wrapper .text-card {
  display: inline-block;
  overflow: hidden;
  border-radius: 40px;
  width: 162px;
  height: 65px;
  vertical-align: middle;
  transform: scale(0%);
  transition: 1s;
}
main .page2 .text-wrapper .text-card:nth-child(1){
  transform: scale(0%);
}
main .page3 {
  width: 100%;
  background-color: #9AC918;
}
main .page3 h1 {
  display: flex;
  justify-content:center;
    opacity: 0;
    transform: translateY(280%);
    transition: 0.4s;
}
main .page3 h1.active {
  opacity: 1;
  transform: translateY(0);
}
main .page3 h1 .line.active::before {
  width: 100%;
  bottom: 10%;
  background-color: #fef5ec;
}
main .page3 .line {
  position: relative;
}
main .page3 .line::before {
  transition: 1s ease;
  width: 0%;
  /* bottom: -50%; */
  background-color: #fef5ec;
} 

main .page3 h1 .first,.second,.third {
  display: flex;
  justify-content:center;
    opacity: 0;
    transform: translateY(280%);
    transition: 0.4s;
}

main .page3 h1 .first.active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s;
}
main .page3 h1 .second.active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s;
}
main .page3 h1 .third.active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s;
}

/* 스와이퍼 */

.swiper {
  border-radius: 33px;
  /* display: flex; */
  width: 87.1875rem;
  height: 700px;
  margin: 120px auto 0;
  /* padding: 0 1.4375rem; */
  position: relative;
  background-color: #fef5ec;
  cursor: grab;
  overflow: hidden;
  margin-bottom: 120px;
}

.swiper-slide {
  display: flex;
  font-size: 18px;
  background-color: #fef5ec;
  justify-content: space-between;

}
.swiper-pagination {
  display: flex;
  top: 0 !important;
  background-color: #fef5ec;
  box-shadow:0.875rem 0 0.5625rem #00000024;
  height: 0px;
}

.swiper-slide img {
  width: 450px;
  display:flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.swiper-pagination-bullet {
  border-radius: 0;
  text-align: center;
width: 33.3333333333%;
padding: 36px 0;
margin: 0 !important;
display: flex;
justify-content: center;
align-items: center;
color: #214b2a;
font-size: 18px;
font-weight: 700;
opacity: 1;
background-color: #fef5ec;
box-shadow:
0.875rem 0 0.5625rem #00000024;
z-index: 22;
}
.swiper-pagination-bullet1,.swiper-pagination-bullet2 {
  transition: 1s;
  position: relative;
  transform: translateX(-200%);
}
.swiper-pagination-bullet1.active,.swiper-pagination-bullet2.active {
  position: relative;
  transform: translateX(0%);
}
.swiper-pagination .swiper-pagination-bullet:nth-of-type(1){
  z-index: 66;
}
.swiper-pagination .swiper-pagination-bullet:nth-of-type(2){
  z-index: 56;
}
.swiper-pagination-bullet-active {
  z-index: 33;
  color: #9ac918;
  background: #214b2a;
  
}

.swiper .left {
  min-height: calc(100% - 2.5rem);
  width: 640px;
  position: relative;
  margin-top: 40px;
  z-index: 9999999;
  padding: 45px 60px;
  color: #214B2A;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.swiper .left h2{
  font-size: 50px;
  font-weight: 900;
  line-height: 76px;
}
.swiper .left p {
  font-size: 16px;
  font-weight: 500;
}
.swiper .left .emoji-box{
  font-size: 17px;
  font-weight: 700;

}
.swiper .left .little-text {
  font-size: 12px;
  font-weight: 500;
}
.swiper .left .button-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.swiper .left .button-box .button {
  width: 155px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #214B2A;
  background-color: #9AC918;
  font-weight: 500;
}
.swiper .left img {
  position: absolute;
  width: 125px;
  height: 125px;
  bottom: 24%;
  right: 0;
}

.swiper .right {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .bg {
  z-index: -9;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,#9ac818 0,#fff5ec 60%);
}
.swiper-back {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
opacity: 0;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  width: 52px;
  border-radius: 46px 0 0 46px;
  padding: 46px;
  color: #9AC918;
  background-color: #214B2A;
  position: absolute;
  right: -500px;
  transition: 1s;
}
.swiper-button-next.active {
  position: absolute;
  right: 0px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  width: 52px;
  border-radius: 0 46px 46px 0;
  padding: 46px;
  color: #9AC918;
  background-color: #214B2A;
  position: absolute;
  left: 0;
}

.page3 .img-wrapper {
  width: 80%;
  margin: auto;
  height: 523px;
}
.page3 .img-wrapper img {
  width: auto;
  height: 523px;
  border-radius: 20px;
  margin-right: 18px;
}
.page3 .img-wrapper li:last-child img {
  margin-right: 0px;
}
.page3 .img-wrapper ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page3 .img-wrapper ul li {
  height: 523px;
}


.page4 {
  width: 100%;
  position: relative;
  background-color: #9AC918;
  padding-bottom: 100px;
}
main .page4 h1 {
  font-size: 80px;
}
main .page4 .first-1,
main .page4 .first-2 {
  display: inline-block;
  opacity: 0;
  transform: translateY(280%);
}

main .page4 .first-1.active {
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}
main .page4 .first-2.active {
  transition: 0.7s;
  opacity: 1;
  transform: translateY(0);
}
main .page4 .line::before {
  width: 0%;
  bottom: 7%;
  background-color: #fef5ec;
  transform: rotate(1deg);
  transition: 0.5s;
} 
main .page4 .line.active::before {
  width: 100%;
}
main .page4 h1 .little {
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: scale(0);
  transition: 0.5s;
}
main .page4 h1 .little.active {
  transform: scale(100%);
} 

main .page4 .content-box {
  position: relative;
  width: 600px;
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #214b2a;
}
main .page4 .content-box h4 {
  width: 600px;
  margin: 60px auto 40px;
  font-weight: 500;
  font-size: 22px;
}
main .page4 .video-box {
  width: 520px;
  margin: auto;
  border-radius: 30px;
  border: 14px solid #214B2A;
  overflow: hidden;
  display: flex;
}
main .page4 .video-box video {
  width: 500px;
  height: 500px;
}
main .page4 .little2 {
  font-size: 12px;
  font-weight: 500;
  color: #214B2A;
  margin-top: 12px;
}
main .page4 .content-box .star1 {
  position: absolute;
  top: 18%;
  left: -5%;
}
main .page4 .content-box .star2 {
  position: absolute;
  top: 16%;
  right: -1%;
}
main .page4 .content-box .star3 {
  position: absolute;
  bottom: 5%;
  right: -3%;
}
main .page4 .content-box .text-box {
  border-radius: 16px;
  width: 272px;
  padding: 14px 26px;
  background-color: #fef5ec;
  text-align: left;
  transform: scale(0);
  transition: 1s;
}

.space {height: 120px;}
.space.v2 {height: 1000px;}
main .page4 .content-box .text-box.active {
  transform: scale(100%);
}
main .page4 .content-box .text-box h3 {
  font-weight: 700;
  font-size: 21px;
}
main .page4 .content-box .text-box p {
  font-size: 17px;
}
main .page4 .content-box .box1 {
  position: absolute;
  top: 40%;
  left: -30%;
}
main .page4 .content-box .box2 {
  position: absolute;
  top: 25%;
  right: -30%;
}
main .page4 .content-box .box3 {
  position: absolute;
  bottom: 14%;
  right: -5%;
}
main .page4 .arrow {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,60%);
}

main .page5 {
  width: 100%;
  background-color: #214B2A;
  padding-bottom: 100px;
  position: relative;
}
main .page5 h1 {
  line-height: 1.2;
  font-size: 80px;
  color: #fcebd9;
  z-index: 9;
}
main .page5 .line::before{
  transition: 0.5s;
  width: 0;
}
main .page5 .line.active::before {
  width: 100%;
}
main .page5 h1 .first-1, 
main .page5 h1 .first-2, 
main .page5 h1 .first-3,
main .page5 h1 .second-1,
main .page5 h1 .second-2 {
  display: inline-block;
  opacity: 0;
  transform: translateY(280%);
}
main .page5 h1 .first-1.active{
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}
main .page5 h1 .first-2.active{
  transition: 0.6s;
  opacity: 1;
  transform: translateY(0);
}
main .page5 h1 .first-3.active{
  transition: 0.7s;
  opacity: 1;
  transform: translateY(0);
}
main .page5 h1 .second-1.active{
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}
main .page5 h1 .second-2.active{
  transition: 0.6s;
  opacity: 1;
  transform: translateY(0);
}
main .page5 h1:nth-of-type(2) {
  padding: 0;
}
main .page5 .line::before {
  bottom: -4%;
  transform: rotate(1deg);
}
main .page5 p {
  margin: 40px auto 80px;
  font-size: 22px;
  color: #fcebd9;
  font-weight: 500;
  width: 550px;
  text-align: center;


}
main .page5 .video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  transform: scale(0%);
  transition: 1s;
}
main .page5 .video-box.active {
  transform: scale(100%);
}
main .page5 .video-box video {
  position: absolute;
top: 0;
left: 0;
object-fit: cover;
width: 100%;
height: 100%;

}
main .page5 .video-box .video-1 {
  position: relative;
  border-radius: 30px;
  width: 525px;
  height: 525px;
  overflow: hidden;
  margin-right: 30px;
}
main .page5 .video-box .video-2 {
  position: relative;
  width: 525px;
  height: 525px;
  overflow: hidden;
  border-radius: 30px;
}
main .page5 .video-box .vs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 76px;
  height: 76px;
  background-color:  #ff9a4a;
  color: #214b2a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  font-family: "KG Empire of Dirt", sans-serif;
  font-weight: 500;
}

main .page5 .video-box .text {
  position: absolute;
  color: #214B2A;
  background-color: #9ac818;
  border-radius: 24px;
  font-size: 22px;
  font-weight: 500;
  padding: 8px 22px;
  top: 4%;
  left: 4%;
}
main .page5 .video-box .silver {
  background-color: #bec1b4;
}

main .page6 {
  width: 100%;
  background-color: #e0aff9;
  position: relative;
  padding-bottom: 100px;
}

main .page6 .page6-wrapper {
  margin: auto;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

main .page6 h1 {
  letter-spacing: -2px;
  font-size: 80px;
  padding: 0;
  line-height: 1.1;
}
main .page6 .first,
main .page6 .second,
main .page6 .third {
  transform: translateY(280%);
  opacity: 0;
}
main .page6 .first.active {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.5s;
}
main .page6 .second.active {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.6s;
}
main .page6 .third.active {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.7s;
}
main .page6 .icon-box {
  margin-top: 30px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
main .page6 .icon-box .icon {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 25px;
  transform: scale(0);
}
main .page6 .icon-box .icon.active {
  transition: 0.6s;
  transform: scale(100%);
}
main .page6 .icon-box .icon img {
  width: 75px;
  margin: auto;
}
main .page6 .icon-box .icon-text {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #214B2A;
}
main .page6 .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
main .page6 .right {
  width: 50%;
}
main .page6 .little {
  font-size: 14px;
  font-weight: 500;
  color: #214B2A;
}
main .page6 .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .page6 .right img {
  width: auto;
  height: 600px;
  border-radius: 35px;
}

main .page7 {
  padding-bottom: 70px;
}
main .page7 .page7-wrapper {
  position: relative;
  border-radius: 40px;
  max-width: 95%;
  min-width: 90%;
  margin: 40px auto;
  height: 90vh;
  transition: 1s;
  /* overflow: hidden; */
}
main .page7 .page7-wrapper .text-box {
  position: sticky;
  top: 15%;
  left: 5%;
  background-color: #214B2A;
  padding: 28px 44px;
  width: 507px;
  border-radius: 20px;
  height: 550px;  
  transition: 1s;
}
main .page7 .page7-wrapper .text-box.active {
  left: 10%;
}
main .page7 .box {
  height: 100%;
  padding: 2%;
}
main .page7 video {
  /* position: absolute; */
  width: 100%;
}
main .page7 .video-box {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

main .page7 h2 {
  width: 80%;
  font-weight: 900;
  font-size: 50px;
  color: #fcebd9;
  margin-bottom: 22px;
  line-height: 51px;
}
main .page7 p {
  font-size: 22px;
  font-weight: 500;
  color: #fcebd9;
}
main .page7 p:first-of-type {
  margin-bottom: 48px;
}
main .page7 .button {
  padding: 25px;
  color: #214B2A;
  background-color: #9ac818;
  font-size: 18px;
  border-radius: 18px;
  display: inline-block;
  width: auto;
  font-weight: 500;
margin-top: 48px;
}

main .page8 {
  padding-bottom: 100px;
}
main .page8 h1 {
  padding: 0;
  font-size: 80px;
  opacity: 0;
  transform: translateY(280%);
  transition: 0.5s;
}
main .page8 h1.active{
  opacity: 1;
  transform: translateY(0);
}
main .page8 p {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #214B2A;
}
main .page8 img {
width: 100%;
height: 100%;
border-radius: 25px;
}
main .page8 p {
  width: 100%;
  text-align: center
}
main .page8 .img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}
main .page8 .img-wrapper ul {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}
main .page8 .img-wrapper ul li {
  width: 32%;
}
main .page8 .img-wrapper ul li p {
  width:63%;
  font-size: 19px;
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: -0.3px;
  line-height: 1.2;
  text-align: left;
}
main .page8 .img-wrapper .img {
  width: 265px;
  height: 355px;
}
main .page8 .button {
  margin: 20px auto 0;
  width: 310px;
  padding: 25px;
  color: #214B2A;
  background-color: #9ac818;
  border-radius: 18px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

main footer {
  background-color: #214B2A;
}
main footer h1 {
  letter-spacing: -2px;
  padding: 0;
  font-size: 50px;
  color: #9ac818;
  justify-content: flex-start;
}
main footer .left {
  transition: 1s;
  position: relative;
  left: 0;
}
main footer .footer-wrapper {
  display: flex;
  padding: 43px 90px 50px;
  justify-content: space-between;
  align-items: center;
}
main footer p {
  margin-top: 20px;
  width: 52%;
  font-size: 22px;
  color: #fcebd9;
}
main footer .footer-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #9ac818;
  color: #214B2A;
  border-radius: 18px;
  padding: 24px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
 }
 
 main footer .input-box {
  overflow: hidden;
  margin-top : 25px;
  width: 500px;
  border-radius: 15px; 
  padding: 0px 0px 0px 34px; 
  border: 1px solid #9ac818;
  background-color: transparent;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  position: relative  ;
 }
 main footer .input-box input {
  box-sizing: border-box; 
  height: 73px; 
  text-align: left; 
  color: white;
  font-size: 16px; 
  font-weight: 400; 
  letter-spacing: 0px; 
  background-color: transparent;
  border: none;
  width: 330px;
 }
 main footer .input-box button {
  cursor: pointer;
  position: absolute;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: #9ac818;
  font-size: 16px;
  height: 73px;
  width: 140px;
  border-radius: 5px;
 }
 main footer button:hover {
  background-color: #9ac818;
  color: #214B2A;

}
 main footer .icon-box {
  margin-top: 25px;
  display: flex;
 }
 main footer .icon-box a {
  margin-right: 25px;
  width: 63px;
  height: 63px;
  fill: #9ac818 !important;
  color: #9ac818;
  border: 2px solid #9ac818;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 main footer .icon-box svg  {
  width: 25px;
  height: 25px;
 }

 main footer .footer-last {
  padding: 19px 90px;
  background-color: #9ac818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
 }
 main footer .footer-last.active img,
 main footer .footer-last.active p,
 main footer .footer-last.active ul{
  transform: translateY(0);
  transition: 0.4s;
 }
 
 main footer .footer-last img{
  transform: translateY(100%);
  width: 87px;
 }
 main footer .footer-last p {
  transform: translateY(200%);
  margin: 0;
  margin-left: 20px;
  font-size: 14px;
  color: #214B2A;
  width: auto;
  font-weight: 500;
 }
 main footer .footer-last ul {
  transform: translateY(200%);
  color: #214b2a;
  display: flex;
  font-size: 14px;
  font-weight: 700;
 }
 main footer .footer-last ul li a {
  margin: 5px;
 }
 main footer .footer-last .footer-list {
  margin: 0 0 0 auto;
  width: unset;
 }


 mai