@charset "utf-8";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FCF3EB;
  scroll-behavior: smooth;
}
.block {
  display: block;
}
h1 {
  display: flex;
  justify-content:center;
  font-size: 90px;
  font-weight: 900;
  color: #214B2A;
  padding-top: 100px;
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #FCF3EB;
  margin: 50px !important;
}
::-webkit-scrollbar-thumb {
  height: 900px;
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}
.line {
  position: relative;
}
.line::before {
  content: "";
  display: block;
  background-color: #9ac918;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 11px;
  transform: rotate(-1deg);
  }

header {
  z-index: 9999;
  display: flex;
  width: 95%;
  height: 50px;
  background-color: var(--header-bg);
  position: fixed;
  padding: 1rem 2rem;
  top:2%;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
  color: var(--header-color);
  transition: 1s;
}
header.active {
  width: 98%;
  height: 55px;
  box-shadow:
  0.6px 4.8px 6.9px rgba(0, 0, 0, 0.074),
  2px 16.1px 23.2px rgba(0, 0, 0, 0.099),
  9px 72px 104px rgba(0, 0, 0, 0.18)
;
}
header.active .header-center {
  width: 160px;
  
}
header .header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-left .menu {
  /* background-color: red; */
  margin-right: 1.6875rem;
  position: relative;
  width: 2.0625rem;
  height: 50px;
}
header .header-left .menu span {
  z-index: 99;
  position: absolute;
  background-color: var(--header-color);
  width: 2.0625rem;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
header .header-left .menu span:nth-child(2){
  top: 30%;
}
header .header-left .menu span:last-child{
  top: 70%;
}
header .header-center{
  transition: 1s;
  width: 150px;
  position:absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

main {
  padding-top: 110px;
}

main .page1 {
  width: 100%;
  height: 120vh;
  background-color: #FCF3EB;
  position: relative;
  overflow: hidden;
  margin-bottom: 180px;
}
main .page1 .img-wrapper img {
  position: absolute;
  width: 70px;
}


main .page1 .img-wrapper img:first-child {
  width: 80px;
  top: 5%;
  left: 15%;
}
main .page1 .img-wrapper img:nth-child(2) {
  top: 14%;
  left: 10%;
}
main .page1 .img-wrapper img:nth-child(3) {
  width: 140px;
  top: 5%;
  right: 27%;
}
main .page1 .img-wrapper img:nth-child(4) {
  width: 120px;
  top: 3%;
  right: 5%;
}
main .page1 .img-wrapper img:nth-child(5){
  width: 80px;
  top: 35%;
  right: 0;
}
main .page1 .img-wrapper img:nth-child(6){
  width: 130px;
  top: 45%;
  left: 6%;
}
main .page1 .img-wrapper img:nth-child(7){
  width: 100px;
  top: 58%;
  right: 17%;
}
main .page1 .img-wrapper img:nth-child(8){
  width: 100px;
  top: 63%;
  left: 12%;
}
main .page1 .img-wrapper img:nth-child(9){
  width: 130px;
  bottom: 0%;
  right: 8%;
}
main .page1 .img-wrapper img:nth-child(10) {
  width: 50px;
  top: 34%;
  left: 14%;
}
main .page1 .img-wrapper .star {
  position: absolute;
  left: 5%;
  top: 5%;
  animation: star-ani 2s 2s linear infinite alternate;
}
main .page1 .img-wrapper .star2 {
  position: absolute;
  right: 17%;
  top: 4%;
  animation: star-ani 2s linear infinite alternate;
}
@keyframes star-ani {
  from { transform: scale(0);}
  to { transform: scale(100%);} 
}

main .page1 .img-wrapper .star3 {
position: absolute;
right: 9%;
top: 32%;
}
main .page1 .img-wrapper .circle {
  position: absolute;
  right: 1.5%;
  top: 11%;
  width: 40px;
}
main .page1 .text-wrapper {
  line-height: 1.1;
  position: absolute;
  font-size: 80px;
  font-weight: 900;
  color: #214B2A;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-210%);
}

main .page1 .text-wrapper2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-110%);
  color: #214B2A;
}
main .page1 .img-box {
  position: absolute;
  bottom: 0;
  width: 1250px;
  height: 310px;
  border-radius: 33px;
  background-color: #e0aff9;
  left: 50%;
  transform: translate(-50%,0);
}
main .page1 .img-box img{
  position: absolute;
  width: 600px;
  bottom: -75%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: box-ani 5s linear alternate infinite;
}
@keyframes box-ani {
  from {transform: translate(-50%,3%);}
  to{ transform: translate(-50%, 0);}
}

main .page2 {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
main .page2 .bgi img {
  transform: translateY(-30%);
}
main .page2 .text-wrapper {
  line-height: 61px;
  font-weight: 500;
  color: rgb(254, 245, 236);
  font-size: 30px;
  text-align: center;
  padding: 73px 81px;
  width: 650px;
  position: absolute;
  right: 10%;
  top: 50%;
  background-color: #214B2A;
  z-index: 99;
  transform: translateY(-50%);
  border-radius: 33px;
}
main .page2 .text-wrapper .text-card {
  display: inline-block;
  overflow: hidden;
  border-radius: 40px;
  width: 162px;
  height: 65px;
  vertical-align: middle;
  transform: scale(0%);
  transition: 1s;
}
main .page2 .text-wrapper .text-card:nth-child(1){
  transform: scale(0%);
}
main .page3 {
  width: 100%;
  background-color: #9AC918;
  padding-bottom: 120px;
}
main .page3 .line {
  position: relative;
}
main .page3 .line::before {
  width: 100%;
  bottom: 10%;
  background-color: #fef5ec;
} 



/* 스와이퍼 */

.swiper {
  border-radius: 33px;
  /* display: flex; */
  width: 87.1875rem;
  height: 700px;
  margin: 120px auto 0;
  /* padding: 0 1.4375rem; */
  position: relative;
  background-color: #fef5ec;
  cursor: grab;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  font-size: 18px;
  background-color: #fef5ec;
  justify-content: space-between;

}
.swiper-pagination {
  display: flex;
  top: 0 !important;
  background-color: #fef5ec;
  box-shadow:0.875rem 0 0.5625rem #00000024;
  height: 0px;
}

.swiper-slide img {
  width: 450px;
  display:flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.swiper-pagination-bullet {
  border-radius: 0;
  text-align: center;
width: 33.3333333333%;
padding: 36px 0;
margin: 0 !important;
display: flex;
justify-content: center;
align-items: center;
color: #214b2a;
font-size: 18px;
font-weight: 700;
opacity: 1;
background-color: #fef5ec;
box-shadow:
0.875rem 0 0.5625rem #00000024;
z-index: 22;
}
.swiper-pagination .swiper-pagination-bullet:nth-of-type(1){
  z-index: 66;
}
.swiper-pagination .swiper-pagination-bullet:nth-of-type(2){
  z-index: 56;
}
.swiper-pagination-bullet-active {
  z-index: 33;
  color: #9ac918;
  background: #214b2a;
  
}

.swiper .left {
  min-height: calc(100% - 2.5rem);
  width: 640px;
  position: relative;
  margin-top: 40px;
  z-index: 9999999;
  padding: 45px 60px;
  color: #214B2A;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.swiper .left h2{
  font-size: 50px;
  font-weight: 900;
  line-height: 76px;
}
.swiper .left p {
  font-size: 16px;
  font-weight: 500;
}
.swiper .left .emoji-box{
  font-size: 17px;
  font-weight: 700;

}
.swiper .left .little-text {
  font-size: 12px;
  font-weight: 500;
}
.swiper .left .button-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.swiper .left .button-box .button {
  width: 155px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #214B2A;
  background-color: #FF9A4A;
  font-weight: 500;
}
.swiper .left .button-box .find {
  background-color: #9AC918;
}
.swiper .left img {
  position: absolute;
  width: 125px;
  height: 125px;
  bottom: 24%;
  right: 0;
}

.swiper .right {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .bg {
  z-index: -9;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,#9ac818 0,#fff5ec 60%);
}
.swiper-back {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
opacity: 0;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  width: 52px;
  border-radius: 46px 0 0 46px;
  padding: 46px;
  color: #9AC918;
  background-color: #214B2A;
  position: absolute;
  right: 0;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  width: 52px;
  border-radius: 0 46px 46px 0;
  padding: 46px;
  color: #9AC918;
  background-color: #214B2A;
  position: absolute;
  left: 0;
}