@charset "utf-8";

/***** basic *****/
body {
  font-family: "Sora", sans-serif;
  background: #000;
  transition: 2s;
}
.block {
  display: block;
}
h2 {
  text-transform: uppercase;
  color: white;
  font-size: 3.125rem;
  margin: 0 0 2.604vw 30px;
}
/***** header *****/
header {
  z-index: 9999;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 1.5rem 2.78vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  align-items: center;
  transition: 1s;
}
header .name {
  text-transform: uppercase;
  font-size: 1.125rem;
  cursor: pointer;
}
header .header_menu {
  font-size: 1rem;
}
header .header_menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header_menu ul li {
  display: flex;
}
header .header_menu ul li a {
  position: relative;
  margin: 0 1.25rem;
}
header .header_menu ul li a:after {
  content: "";
  display: block;
  width: 0%;
}
header .header_menu ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -18%;
  left: 0;
  transition: 0.2s;
}





/***** main *****/

main .first-page {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
}
main .first-page .header-txt-box {
  z-index: 999;
  color: #a3a3a3;
  font-weight: 500;
  position: absolute;
  top: 23%;
  left: 35%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
main .first-page .header-txt-box h1 {
  z-index: 999;
  text-transform: uppercase;
  font-size: 9.42vw;
  line-height: 9.13vw;
  margin-left: 11vw;
}
main .img-wrapper {
  width: 50%;
  height: 50%;
  z-index: 9999;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%,-10%);
}

main .img-wrapper img {
  position: absolute;
  /* width: 500px; */
  width: auto;
  height: 650px;
  /* border-radius: 20px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
main .img-wrapper .img2 {
  height: 300px;
  z-index: 999;
  transform: translate(-150%,-7%);
}
main .img-wrapper .img3 {
  height: 300px;
  width: auto;
  z-index: 99;
  transform: translate(50%,-7%);
}
main .img-wrapper ul {
  display: flex;
}

main .app {
  color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
}
main .app h3 {
  font-weight: 700;
  font-size: 50px;
}
main .app h4 {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 20px;
}
main .app h5 {
  font-size: 30px;
  font-weight: 700;
  color: #a3a3a3;
  margin-bottom: 40px;
}
main .app .text-box-right {
  padding-top: 20px;
  width: 800px;
}
main .app p {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
main .app ul {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  list-style: disc inside;
  line-height: 1.5;
  font-size: 24px;
}
main .app1 .text-box-right p:nth-child(2) {
  margin-bottom: 80px;
}

main .app2 ul {
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  list-style: none inside;
}
main .app3 ul {
  list-style: inside decimal;
  line-height: 2;
}
main .app4 ul {
  line-height: 2;
}
main .app5 h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
main .app5 a {
  background-color: white;
  border-radius: 40px;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px;
  border: transparent 1px solid;
  color: black;
}
main .app5 a:hover { 
    background-color: black;
    color: white;
    border: 1px solid #fff;
}

main .app6 ul {
  font-weight: 200;
  margin-bottom: 80px;
}
main .app6 ul li {
  margin-bottom: 40px;
}
main .app6 ul li a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: dashed;
  border-bottom: 2px solid #7277FF;
  color: #7277FF;
}
main .app6 ul li a:hover {
  color: #ddd;
  border-bottom: 2px solid #ddd;
}

main .app7 p {
  font-weight: 200;

  margin-bottom: 40px;
}




footer {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer a {
  margin-left: 40px;
  display: block;
  background-color: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px;
  border: transparent 1px solid;
}
footer a:hover {
  background-color: black;
  color: white;
  border: 1px solid #fff;
}